# Google Play Store Datset

In [ ]:
import pandas as pd
df = pd.read_csv("googleplaystore.csv")
df

## Chapter 1
Data Exploration using Google Play Store 10K records.

We will learn Pandas, and use it for Data Exploration.

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.head(n=15)

In [ ]:
df.tail()

In [ ]:
df['App'] # this line of code remind me of python dictionary

In [ ]:
df['Installs'] # the output remind me of python list

In [ ]:
df['Category'].describe() # descriptive statistics (for numeric columns)

In [ ]:
df['Rating'].value_counts() # categorical values

In [ ]:
df["Installs"].unique()

In [ ]:
df["Installs"].value_counts()

### Pandas Plots

In [ ]:
# magic function that renders the figure in a notebook 
# (instead of displaying a dump of the figure object).
%matplotlib inline

In [ ]:
df["Category"].value_counts()

In [ ]:
df["Category"].value_counts().plot(kind='bar', figsize=(10, 10))

In [ ]:
# checking Rating
df["Rating"].plot(kind='box', figsize=(10, 5))

### Select some rows by...

In [ ]:
df.iloc[10001:10010] # row data with list slicing

In [ ]:
# how many rows, how many columns
df.shape

In [ ]:
df[df.Rating >= 19.0] # filtering

In [ ]:
df[df.Installs == '1,000,000,000+']

## Chapter 2
We will learn how to...

* remove duplicates
* reduce columns
* filtering by remove some rows that matched some rules
* remove NaN (what is NaN?)
* sorting

Derive your conclusion for App Profiling.

In [ ]:
df[df.App == 'ROBLOX'] # filtering

### Remove Duplicates

In [ ]:
# to remove duplicates
columns_to_be_selected = ['App', 'Category', 'Genres', 'Rating', 'Reviews', 'Price']
cleaned = df[columns_to_be_selected]

from pandas import DataFrame
cleaned = DataFrame.drop_duplicates(cleaned)
len(cleaned)

10356

In [ ]:
cleaned[cleaned.App == 'ROBLOX'] # filtering

### Sorting Columns

In [ ]:
# sorting
family = [12, 3, 4, 6, 7, 9]
print(sorted(family))  # from smallest to larger value (ASCENDING)
for item in reversed(sorted(family)):  # from largest value to smaller (DESCENDING)
    print(item)

In [ ]:
cleaned.info()

In [ ]:
cleaned.sort_values(by='Rating', ascending=False)

In [ ]:
cleaned = cleaned.sort_values(by=['Reviews', 'Rating'], ascending=False)
cleaned.head(n=20)

In [ ]:
# removed rows with free App
cleaned = cleaned[cleaned.Price != '0']
cleaned

In [ ]:
# removed rows with NaN for Rating
cleaned = cleaned[pd.isnull(cleaned.Rating) == False]
cleaned

In [ ]:
# select Top 20
cleaned.head(n=20)

### Data Error

If Rating = 19.0

In [ ]:
df.iloc[10472]

In [ ]:
#df = df.drop(df.index[10472]) # savi data error

### Interesting App Names

* Find letter count in each App Name
* Find word count in each App Name
* Add NEW columns to Pandas DataFrame

In [ ]:
# app title
# step1: letter count in app title
# step2: word count in app title (string.split() method)

letter_count = []
word_count = []

for item in df['App']:
    #print(item)
    #print('letter count', len(item)) # including whitespace
    counter = 0
    for letter in item:
        if letter == ' ':
            pass
        else:
            counter = counter + 1
    
    #words = 0
    words = item.split()
    #print(item, ', with letter count', counter, 'with word count=', len(words))
    letter_count.append(counter)
    word_count.append(len(words))
    #break

In [ ]:
print(len(letter_count))

10841

### Add NEW Columns to DataFrame

In [ ]:
df['App_letterCnt'] = letter_count
df['App_wordCnt'] = word_count

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
 13  App_letterCnt   10841 non-null  int64
 14  App_wordCnt     10841 non-null  int64
dtypes: float64(1), int64(3), object(11)
memory usage: 1.2+ MB

In [ ]:
df.head()

                                                 App  ... App_wordCnt
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...           9
1                                Coloring book moana  ...           3
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...          10
3                              Sketch - Draw & Paint  ...           5
4              Pixel Draw - Number Art Coloring Book  ...           7

[5 rows x 15 columns]

## Chapter 3

* output to csv file for top 20 apps