# Python Pandas

In [ ]:
filename = "students.csv"

1.    Learn to use Pandas to read in CSV file

2.    Find out how many rows and columns in this dataset.

3.   Check that data types of each columns is handled by Pandas (automatically)

## Let's learn about Pandas Data Structures

*    Series
*    DataFrame

## Pandas Series

*   String/Text Values
*   Integer/Number Values

In [ ]:
names = ["sally", "dave", "john", "dylan", "joey", "anne"]
cca = ["basketball", "NCC", "NCC", "basketball", "red cross", "robotics"]

year = [2010, 2011, 2012, 2013, 2014, 2015]
height = [150, 151, 151, 153, 154, 156]

## Plot Line Graphs and Bar Graphs for Pandas Series

### Pie Charts ideal for Categorical Data Values for example Gender, Nationality

In [ ]:
gender = "F", "M", "M", "M", "F", "F"]
nationality = ["Singaporean", "Korean", "Japanese", "Singaporean", "Japanese", "Singaporean"]

### Histogram ideal for Age Groups

In [ ]:
age = [10, 20, 14, 22, 24, 12]

### Box Plots ideal for Test Scores and GPA

In [ ]:
scores = [60, 89, 90, 92, 60, 75]
gpa = [3.0, 3.1, 3.9, 4.0, 3.3, 3.5]